body {
    background-image: linear-gradient(#f19ced, #32035e);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    font-size: 22px;
}

a {
    text-decoration: none;
}

.body-cont {
    width: 80%;
    height: 90%;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.about-sect {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    margin: auto;
}

.pfp {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    margin: 20px;
}

.name {
    font-size: 24px;
    font-weight: bold;
}

.interests-sect{
    width: 80%;
    margin: auto;
}

ul {
    list-style: none;
}

.interests-title {
    font-size: 26px;
    font-weight: bold;
}

.github-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    font-size: 18px;
    transition: transform ease-in-out 0.4s;
    display: inline-block;
}

.github-btn:hover {
    background-color: #ffffff;
    color: black;
    cursor: pointer;
    transform: scale(1.1);
}

.hw-list {
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #000000;
    border: none;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: transform ease-in-out 0.4s;
    display: inline-block;
}

.hw-list:hover {
    background-color: #ffffff;
    color: black;
    cursor: pointer;
    transform: scale(1.1);
}

.hw-list a {
    color: inherit;
}
.hw-list a:hover {
    color: inherit;
}
