
body {
    background: #3c333e;
    color: #eee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    position: relative;
    height: 100vh;
    margin: 0;
}
#image-container, #text-container, #shape-container {
    position: absolute;
}
#image-container img {
    position: absolute;
    max-width: 300px;
    border-radius: 15px;
}
#text-container {
    font-size: 2em;
    font-weight: 600;
    white-space: nowrap;
}
#shape-container {
    width: 100px;
    height: 100px;
}
.circle {
    border-radius: 50%;
    background-color: #b2a0af;
}
.square {
    background-color: #365368;
    opacity: 0.8;
}
.triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #fab49b;
    background: transparent;
}
