body {
    background-color: black;
    color: pink;
    justify-content: center;

}

h1 {
    font-size: 42px;
    text-align: center;
    margin-top: 10vh;
}

h3 {
    font-size: 24px;
    text-align: center;
}

.btn-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15vh;
}

.button {
  min-width: 300px;
  min-height: 60px;
  display: inline-flex;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #f19aea;
background: linear-gradient(180deg, rgb(235, 122, 206) 0%, rgb(175, 6, 105) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(117, 20, 85, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

.button::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #f188c2;
  box-shadow: 0 0 60px rgba(238, 100, 226, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button:hover, 
.button:focus {
  color: #313133;
  transform: translateY(-6px);
}

.button:hover::before, 
.button:focus::before {
  opacity: 1;
}

.button::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #f846c3;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.button:hover::after, 
.button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

/* second page */
#second-page, #castle-page, #lighthouse-page, #horse-page, 
#forest-page, #bridge-page, #bridge-page-end, #dog-page,
#dog-page-end, #whale-page-end, #cat-page-end {
    display: none;
}

.img-cont {
    width: auto;
    height: 50vh;
    margin: auto;
    justify-content: center;
    display: flex;
    gap: 60px;
    align-items: center;
    margin-top: 15vh;
}

.img {
    width: 30vw;
    height: 40vh;
    border-radius: 15px;
    object-fit: cover;
    transition: ease-in-out 0.3s;
}

.img:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

.btn {
    padding: 1.3rem;
    height: 2rem; 
    color: rgb(58, 49, 49);
    background-color: pink;
    border-radius: 30px;
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    line-height: 1;
    margin-top: 2rem;
    border: none;
}

.btn:hover {
    background-color: #5e0c3e;
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.3s;
    color: white;
}

.img-cont-done {
    width: 40vw;
    margin: auto;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 20vh;
    margin-top: 35vh;
}

.img-done {
    width: 40vw;
    height: 60vh;
    border-radius: 15px;
    object-fit: cover;
}